*{
    padding: 0;
    margin : 0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.heading1{
    height: 50px;
    background-image: url(./img/hinh-nen-background-dep-6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.content{
        margin: 0 200px 0 200px;
}
.content .name{
    color: #FFF;
    line-height: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-right: 70px;
}
.content .search{
    display: inline-block;
    line-height: 10px;
    font-size: 15px;
    padding: 9px 120px 4px 12px;
    box-sizing: border-box;
    margin-top: 6px;
    outline: none;
}
.content .searchbtn{
    height: 30px;
    width: 30px;
    margin-left: -35px;
    background-color: #FFF;
    border: none;
}
.content .light{
    color: orange;
    margin-left: 60px;
    font-size: 25px;
    margin-right: 100px;
    position: absolute;
    top: 15px;
}
.content .user{
    float: left;
    height: 50px;
    color: #FFF;
    line-height: 50px;
    font-size: 20px;
    position: absolute;
    top:0;
    right : 200px;
    z-index: 4;
}
.content .user0{
    line-height: 25px;
    list-style: none;
    display: none;
    background-color: white;
    padding: 0 30px 0 20px;
    font-size: 17px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    left:0px;
}
.user0>i{
    font-size: 5px;
    padding-top: -2px;
}
.user:hover>.user0{
    display: block;
}
.light:hover{
    cursor: pointer;
}
.heading2{
    height: 40px;
    background-color:whitesmoke;
}
.heading2 ul{  
    margin: 0 200px 0 200px;
}
.heading2>ul>li{
    height: 40px;
    width: 100px;
    padding: 0 10px 0 10px;
    float: left;
    list-style: none;
    font-size: medium;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);   
}
.options:hover{
    background-color: #FFF;
}
.heading2>ul{
    position: absolute;
    list-style-type: none;
    z-index: 4;
}
.genre>ul{
    position: relative;
    right:210px;
    width: 600px;
    height: 250px;
    float: left;
    display: none;
    
}
.genre>ul>li{
    width: 150px;
    float: left;
    line-height: 50px;
    list-style: none;
    background-color: white;
    padding: 0 30px 0 20px;
    font-size: 17px;
}
.genre:hover>ul{
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.genre-content:hover>a{
    color: blueviolet;
}
.body{
    display: block;
    height: 1000px;
}
.body1{
    height: 250px;
    margin: 0 200px 0 200px;
}
.slide{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 180px;
    height: 200px;

}
.body-head{
    transition: transform 0.5s linear;
    height: 90px;
    display: flex;
}
.boxleft{
    float: left;
    width: 195px;
    height: 1500px;
    position: absolute;
    top: 90px;
    z-index: 1;
    background-color: whitesmoke;

}
.boxright{
    float: right;
    width: 195px;
    height: 1500px;
    position: absolute;
    right: 0px;
    top: 90px;
    z-index: 2;
    background-color: whitesmoke;
}
.slide>p{
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    margin-top: 160px;
    color : #fff;
    text-align: center;
    vertical-align: bottom ;
}
.body1>h2{
    color : blueviolet;
    line-height: 40px;
}
.btnleft{
    position: absolute;
    top : 200px;
    z-index: 1;
    height: 25px;
    width: 25px;
}
.btnright{
    position: absolute;
    top : 200px;
    right: 200px;
    z-index: 1;
    height: 25px;
    width: 25px;
}
.content{
    float: left;
    width: 610px;
    margin-right: 0;
}
.bodymenu{
    position: absolute;
    right: 195px;
    float: left;
    width: 256px;
    height: 300px;
}
.content>ul>li{
    margin-right: 10px;
    width: 140px;
    height: 280px;
    float: left;
    list-style: none;
}
.imgelement{
    width: 140px;
    height: 160px;
    background: url(./img/yeu-than-ky.jpg) center  / cover no-repeat;
}
.contentelm0{
    font-size: larger;
    line-height: 30px;
}
.contentelm{
    font-size:14px;
}
.contentelm>p{
    text-align: right;
    font-size: 10px;
}
.imgsub{
    width: 70px;
    height: 60px;
    background: url(./img/anh-hung-ta-khong-lam-lau-roi.jpg ) center  / cover no-repeat;
    float: left;
}
.namesub{
    line-height: 20px;
    float: left;
    margin-left: 10px;
}
.namesub2{
    font-size: 16px;
}
.namesub3{
    font-style: italic;
}
.sub>a{
    margin-left: 10px;
    line-height: 40px;
    color: blueviolet;

}
.subcontent{
    width: 236px;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;

}
.sub{
    margin-top: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.content>h2{
    line-height: 50px;
    color: blueviolet;
}
.top{
    width: 256px;
    height: 450px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.htop:hover{
    cursor: pointer;
}
.htop{
    float: left;
    width: 84px;
    height: 50px;
    text-align: center;
    line-height: 40px;  
    background-color: #ccc;
}
.ctop{
    float: left;
    width: 254px;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    margin-bottom: 10px;
}
.ctop>h1{
    float: left;
    text-align: center;
    line-height: 60px;
}
.img-top{
    width: 70px;
    height: 60px;
    background: url(./img/vo-dao-doc-ton.jpg ) center  / cover no-repeat;
    float: left;
    margin-left: 5px;
}
.name-top{
    float: left;
    line-height: 30px;
    margin-left: 10px;
}
.ctop2{
    display: none;
    position: absolute;
    top: 530px;
}
.ctop3{
    display: none;
    position: absolute;
    top: 530px;

}
.last{
    width: 500px;
    height: 50px;
    position: absolute;
    top : 1520px;
    left: 250px;
}
.last1{
    float: left;
    height: 50px;
    margin-right: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.sticky{
    position: fixed;
    top : 0px;
    width: 100%;
    z-index: 4;
}
.slide0{
    display: none;
}
/*@media (min-width : 1250px){
    .boxleft{
        width: calc((100%-854px)/2-5px);
    }
    .boxright{
        width: calc((100%-854px)/2px-5px);
    }
    .body1.content.menu{
        margin: 0 calc((100%/2-854px/2)-5px) 0px calc((100%-854px)/2-5px);
    }
    .btnright.bodymenu.user{
        right: calc((100%/2)-854px/2-5px);
    }
    .last{
        left: calc((100%-854px)/2+5) ;
    }
    #ct{
        width: calc((100%-854px)/2-254px);
    }
    .element{
        width: calc((100%-854px)/4-5px);
        margin-left: 5px;
    }
    .elm1{
        display: block;
    }
    .inner770{
        display: inline-block;
    }
    .bodymenu1{
        display: block;
    }
}
@media (min-width : 900px ) and (max-width : 1250px){
    .boxleft{
        width: calc((100%-854px)/2-5);
    }
    .boxright{
        width: calc((100%-854px)/2-5);
    }
    .body1.content.menu{
        margin: 0 calc((100%-854px)/2-5) 0 calc((100%-854px)/2-5);
    }
    .btnright.bodymenu.user{
        right: calc((100%-854px)/2-5);
    }
    .last{
        left: calc((100%-854px)/2+5) ;
    }
    #ct{
        width: calc((100%-854px)/2-254px);
    }
    .element{
        width: calc((100%-854px)/3-40px);
    }
    .elm1{
        display: none;
    }
    .inner770{
        display: inline-block;
    }
    .bodymenu{
        display: block;
    }
}
@media (max-width : 900px) and (min-width : 700px){
    .boxleft{
        width: calc((100%-854px)/2-5);
    }
    .boxright{
        width: calc((100%-854px)/2-5);
    }
    .body1.content.menu{
        margin: 0 calc((100%-854px)/2-5) 0 calc((100%-854px)/2-5);
    }
    .btnright.bodymenu.user{
        right: calc((100%-854px)/2-5);
    }
    .last{
        left: calc((100%-854px)/2+5) ;
    }
    #ct{
        width: calc((100%-854px)/2-254px);
    }
    .element{
        width: calc((100%-854px)/4-40px);
        margin-left: 10px;
    }
    .elm1{
        display: block;
    }
    .inner770{
        display: none;
    }
    .bodymenu{
        display: none;
    }
    .content{
        width:calc(100%-10px);
    }
}
@media(max-width: 700px){
    .boxleft{
        width: calc((100%-854px)/2-5);
    }
    .boxright{
        width: calc((100%-854px)/2-5);
    }
    .body1.content.menu{
        margin: 0 calc((100%-854px)/2-5) 0 calc((100%-854px)/2-5);
    }
    .btnright.user{
        right: calc((100%-854px)/2-5);
    }
    .last{
        left: calc((100%-854px)/2+5) ;
    }
    #ct{
        width: calc((100%-854px)/2-254px);
    }
    .element{
        width: calc((100%-854px)/3-40px);
        margin-left: 10px;
    }
    .elm1{
        display: none;
    }
    .inner770{
        display: none;
    }
    .bodymenu{
        display: none;
        right: calc((100%-854px)/2-5);
    }
    .content{
        width:calc(100%-10px);
    }
}*?
